
body {
  padding: 100px 100px 300px 100px;
  font-family: Palatino, Optima, Georgia, serif;
  font-size: 16px;
  line-height: 1.6em;
}

.title {
  font-size: 20px;
  margin: 20px 0;
}

.trigger, .target {
  width: 160px;
  height: 40px;
  line-height: 40px;
  background: hsl(240, 100%, 80%);
  color: white;
  text-align: center;
  display: inline-block;
}

.trigger {
  cursor: pointer;
}

.uploader-area, .uploader-button {
  display: inline-block;
}

.target {
  width: 400px;
  height: 100px;
  position: relative;
}

.target .drop-place {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(0,0%,0%,0.4);
}

.demo {
  margin: 40px 0;
}

.uploader-area {
  background-color: hsl(240,80%,90%);
}

.uploader-area.is-dropping {
  background-color: hsl(240,80%,80%);
}

.demo img {
  margin: 40px 0;
}

.note {
  margin-top: 40px;
}
